.form_controller{
  padding: 10px 15px;
  margin-bottom: 25px;

  background: #fff;
  font-size: $small_fz;

  border-top: 1px solid $lines_c;
  border-bottom: 1px solid $lines_c;

  @extend .clearfix;

  label{
    float: left;
    width: 40%;
  }
  input{
    float: left;
    border: 0;
    outline: 0;
    width: 60%;

    color: $settings_c;
    text-align: right;
  }
}