.form_controller{
  padding: 10px 15px;
  margin-bottom: 25px;

  background: #fff;
  font-size: $small_fz;

  border: 1px solid $lines_c;

  border-radius: $border_radius_default;

  @extend .clearfix;

  label{
    float: left;
    width: 40%;
    
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
  }
  input{
    float: left;
    border: 0;
    outline: 0;
    width: 60%;

    text-align: right;
  }
}