.table{
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;

  background: #fff;

  border: 1px solid $lines_c;
  border-radius: $border_radius_default;
  
  th,
  td{
    font-weight: 400;
    text-align: left;
    font-size: $small_fz;
    &:last-child{
      text-align: right;
    }
  }

  th{
    padding: 15px 10px;
    border-bottom: 1px solid $lines_c;
  }
  td{
    padding: 8px 10px;

    @include transition(background .25s ease-in-out);
  }
  tr{
    &:hover td{
      background: lighten($lines_c, 15%);
    }  
    &.highlight td{
      padding: 15px 10px;
      background: lighten($lines_c, 10%);
    }
  }
  
}