.table{
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  border-collapse: collapse;

  background: #fff;
  
  th,
  td{
    font-weight: 400;
    text-align: left;
    font-size: $small_fz;
    &:last-child{
      text-align: right;
    }
  }

  th{
    padding: 15px 10px;
    border-top: 1px solid $lines_c;
    border-bottom: 1px solid $lines_c;
  }
  td{
    padding: 8px 10px;
  }
  .highlight td{
    padding: 15px 10px;
    background: lighten($lines_c, 15%);
  }
}