/* 
  fontSize's
*/
$btn_fz: 44pt;
$small_fz: 12pt;
$normal_fz: 17pt;
$title_fz: 20pt;

/*
  Colors
*/
$background_c: #efeff4;
$messages_c: #4cd964;
$calendar_c: #ff3b30;
$settings_c: #8e8e93;
$video_c: #5ac8fa;
$notes_c: #ffcc00;
$books_c: #ff9500;
$news_c:  #ff2d55;
$safari_c:#007aff;
$lines_c: #ceced2;
$text_c: #000000;
$link_c: #007aff;

/* 
  responsive
*/
$grid_tablet: 991px;
$grid_mobile: 767px;

/* 
  etc 
*/
$border_radius_default: 5px; 